<a href="https://colab.research.google.com/github/Aboubacar2012/Data_Analysis_Project/blob/main/Project_2_Data_Import_Working_with_APIs_and_JSON_(Movies_Dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Pulling Data from Web

#####DATA Import - JSON Files

######Importing Data from JSON files

######1.Import the json files blockbusters.json, blockbusters2.json, blockbusters.json and load datasets into pandas DataFRame

####Working with APIs and JSON (Part 1)

######2.Create an account on https://www.themoviedb.org

######3.Get your personal API KEY

######4.API-Request(movie module):Load all available information of the movie with movie id=140607 into a pendas dataframe
See https://developers.themoviedb.org/3/movies/get-movie-details for more information

#####Working with APIs and JSON(Part 2)

######5.API-Request (discover module):Load all movies with release data between 2020-01-01 and 2020-02-29 into a Pendas DataFrame.
See https://wwww.themoviedb.org/documentation/api/discover and https://developers.themoviedb.org/3/discover/movie-discover for information

######Importing and Saving the Movies DataSet(Best Practice)

######6.API-Request (movie module) : Load all available information for the movies with movie id=[299534, 199995,140607, 299536, 597, 135397, 420818, 24428, 168259, 99861, 284054, 12445, 181808, 330457, 351286, 109445, 321612, 260513] into a Pandas DataFrame and save the dataset in a local json file

##CASE O2 : DATA Import - Working with Web APIs and JSON (Movie Dataset)

#####Importing Data from JSON files

In [2]:
import pandas as pd
import json

In [3]:
#Methode 1 : Loading Json file 
with open('/content/drive/MyDrive/ml_data/MOVIES/Project_02/blockbusters.json') as f:
  data=json.load(f)

In [4]:
data

[{'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'id': 299534,
  'revenue': 2797800564,
  'runtime': 181,
  'title': 'Avengers: Endgame'},
 {'belongs_to_collection': {'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg',
   'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg'},
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'id': 19995,
  'revenue': 2787965087,
  'runtime': 162,
  'title': 'Avatar'},
 {'belongs_to_collection': {'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg',
   'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg'},
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'id': 140607,
  'revenue': 2068223624,
  'runtime': 136,
  'title': 'Star Wars: The Force Awakens'},
 {'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'id': 299536,
  'revenue': 2046239637,
  'runtime': 149,
  'title': 'Avengers: Infinity War'},
 {'belongs_to_collection': None,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  'id': 597,
  'revenue': 1845034188,
  'runtime': 194,
  'title': 'Titanic'},
 {'belongs_to_collection': {'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg',
   'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg'},
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'id': 135397,
  'revenue': 1671713208,
  'runtime': 124,
  'title': 'Jurassic World'},
 {'belongs_to_collection': None,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'id': 420818,
  'revenue': 1656943394,
  'runtime': 118,
  'title': 'The Lion King'},
 {'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'id': 24428,
  'revenue': 1519557910,
  'runtime': 143,
  'title': 'The Avengers'},
 {'belongs_to_collection': {'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg',
   'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg'},
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'id': 168259,
  'revenue': 1506249360,
  'runtime': 137,
  'title': 'Furious 7'},
 {'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'id': 99861,
  'revenue': 1405403694,
  'runtime': 141,
  'title': 'Avengers: Age of Ultron'},
 {'belongs_to_collection': {'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg',
   'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg'},
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'id': 284054,
  'revenue': 1346739107,
  'runtime': 134,
  'title': 'Black Panther'},
 {'belongs_to_collection': {'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg',
   'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg'},
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'id': 12445,
  'revenue': 1341511219,
  'runtime': 130,
  'title': 'Harry Potter and the Deathly Hallows: Part 2'},
 {'belongs_to_collection': {'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg',
   'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg'},
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'id': 181808,
  'revenue': 1332539889,
  'runtime': 152,
  'title': 'Star Wars: The Last Jedi'},
 {'belongs_to_collection': {'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg',
   'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg'},
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'id': 330457,
  'revenue': 1330764959,
  'runtime': 104,
  'title': 'Frozen II'},
 {'belongs_to_collection': {'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg',
   'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg'},
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'id': 351286,
  'revenue': 1303459585,
  'runtime': 129,
  'title': 'Jurassic World: Fallen Kingdom'},
 {'belongs_to_collection': {'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg',
   'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg'},
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'id': 109445,
  'revenue': 1274219009,
  'runtime': 102,
  'title': 'Frozen'},
 {'belongs_to_collection': None,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'id': 321612,
  'revenue': 1263521126,
  'runtime': 129,
  'title': 'Beauty and the Beast'},
 {'belongs_to_collection': {'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg',
   'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg'},
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'id': 260513,
  'revenue': 1241891456,
  'runtime': 118,
  'title': 'Incredibles 2'}]

In [5]:
#Type
type(data)

list

In [6]:
#Number element
len(data)

18

In [7]:
# Dictionnary 
data[0]

{'belongs_to_collection': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
  'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'}],
 'id': 299534,
 'revenue': 2797800564,
 'runtime': 181,
 'title': 'Avengers: Endgame'}

In [8]:
#Convert dictionnary into dataframe
df=pd.DataFrame(data)

In [9]:
df.head()

                          title  ...  runtime
0             Avengers: Endgame  ...      181
1                        Avatar  ...      162
2  Star Wars: The Force Awakens  ...      136
3        Avengers: Infinity War  ...      149
4                       Titanic  ...      194

[5 rows x 6 columns]

In [10]:
#Methode 2 : Loading Json file 
df_json=pd.read_json('/content/drive/MyDrive/ml_data/MOVIES/Project_02/blockbusters.json')

In [11]:
df_json.head()

                          title  ...  runtime
0             Avengers: Endgame  ...      181
1                        Avatar  ...      162
2  Star Wars: The Force Awakens  ...      136
3        Avengers: Infinity War  ...      149
4                       Titanic  ...      194

[5 rows x 6 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 992.0+ bytes

In [13]:
df.genres#[0]

0     [{'id': 12, 'name': 'Adventure'}, {'id': 878, ...
1     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
2     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
4     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
5     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
6     [{'id': 12, 'name': 'Adventure'}, {'id': 10751...
7     [{'id': 878, 'name': 'Science Fiction'}, {'id'...
8     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
9     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
10    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
11    [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...
12    [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...
13    [{'id': 16, 'name': 'Animation'}, {'id': 10751...
14    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15    [{'id': 16, 'name': 'Animation'}, {'id': 12, '...
16    [{'id': 10751, 'name': 'Family'}, {'id': 14, '...
17    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
Name: genres, dtype: object

In [14]:
df.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [15]:
df.belongs_to_collection[0]

{'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
 'id': 86311,
 'name': 'The Avengers Collection',
 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'}

In [16]:
# Flatting and normalize data 
pd.json_normalize(data=data, sep='_').head()

                          title  ...  belongs_to_collection
0             Avengers: Endgame  ...                    NaN
1                        Avatar  ...                    NaN
2  Star Wars: The Force Awakens  ...                    NaN
3        Avengers: Infinity War  ...                    NaN
4                       Titanic  ...                    NaN

[5 rows x 10 columns]

In [17]:
pd.json_normalize(data=data, sep='_').genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [18]:
pd.json_normalize(data=data, record_path='genres').head(10)

    id             name
0   12        Adventure
1  878  Science Fiction
2   28           Action
3   28           Action
4   12        Adventure
5   14          Fantasy
6  878  Science Fiction
7   28           Action
8   12        Adventure
9  878  Science Fiction

In [19]:
# add meta 
pd.json_normalize(data=data, record_path='genres', meta=['title']).head(10)

    id             name                         title
0   12        Adventure             Avengers: Endgame
1  878  Science Fiction             Avengers: Endgame
2   28           Action             Avengers: Endgame
3   28           Action                        Avatar
4   12        Adventure                        Avatar
5   14          Fantasy                        Avatar
6  878  Science Fiction                        Avatar
7   28           Action  Star Wars: The Force Awakens
8   12        Adventure  Star Wars: The Force Awakens
9  878  Science Fiction  Star Wars: The Force Awakens

In [20]:
# add parameter record_prefix
pd.json_normalize(data=data, record_path='genres', meta=['title','id'], record_prefix='genre').head(10)

   genreid        genrename                         title      id
0       12        Adventure             Avengers: Endgame  299534
1      878  Science Fiction             Avengers: Endgame  299534
2       28           Action             Avengers: Endgame  299534
3       28           Action                        Avatar   19995
4       12        Adventure                        Avatar   19995
5       14          Fantasy                        Avatar   19995
6      878  Science Fiction                        Avatar   19995
7       28           Action  Star Wars: The Force Awakens  140607
8       12        Adventure  Star Wars: The Force Awakens  140607
9      878  Science Fiction  Star Wars: The Force Awakens  140607

######JSON and Orientation/Formats

In [21]:
with open('/content/drive/MyDrive/ml_data/MOVIES/Project_02/blockbusters2.json') as f:
  data2=json.load(f)

In [26]:
data2

{'belongs_to_collection': {'0': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  '1': {'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg',
   'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg'},
  '10': {'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg',
   'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg'},
  '11': {'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg',
   'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg'},
  '12': {'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg',
   'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg'},
  '13': {'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg',
   'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg'},
  '14': {'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg',
   'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg'},
  '15': {'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg',
   'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg'},
  '16': None,
  '17': {'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg',
   'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg'},
  '2': {'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg',
   'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg'},
  '3': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  '4': None,
  '5': {'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg',
   'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg'},
  '6': None,
  '7': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'},
  '8': {'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg',
   'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg'},
  '9': {'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg',
   'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg'}},
 'genres': {'0': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  '1': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  '10': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  '11': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  '12': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  '13': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  '14': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  '15': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  '16': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  '17': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  '2': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  '3': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  '4': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  '5': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  '6': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  '7': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  '8': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  '9': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}]},
 'id': {'0': 299534,
  '1': 19995,
  '10': 284054,
  '11': 12445,
  '12': 181808,
  '13': 330457,
  '14': 351286,
  '15': 109445,
  '16': 321612,
  '17': 260513,
  '2': 140607,
  '3': 299536,
  '4': 597,
  '5': 135397,
  '6': 420818,
  '7': 24428,
  '8': 168259,
  '9': 99861},
 'revenue': {'0': 2797800564,
  '1': 2787965087,
  '10': 1346739107,
  '11': 1341511219,
  '12': 1332539889,
  '13': 1330764959,
  '14': 1303459585,
  '15': 1274219009,
  '16': 1263521126,
  '17': 1241891456,
  '2': 2068223624,
  '3': 2046239637,
  '4': 1845034188,
  '5': 1671713208,
  '6': 1656943394,
  '7': 1519557910,
  '8': 1506249360,
  '9': 1405403694},
 'runtime': {'0': 181,
  '1': 162,
  '10': 134,
  '11': 130,
  '12': 152,
  '13': 104,
  '14': 129,
  '15': 102,
  '16': 129,
  '17': 118,
  '2': 136,
  '3': 149,
  '4': 194,
  '5': 124,
  '6': 118,
  '7': 143,
  '8': 137,
  '9': 141},
 'title': {'0': 'Avengers: Endgame',
  '1': 'Avatar',
  '10': 'Black Panther',
  '11': 'Harry Potter and the Deathly Hallows: Part 2',
  '12': 'Star Wars: The Last Jedi',
  '13': 'Frozen II',
  '14': 'Jurassic World: Fallen Kingdom',
  '15': 'Frozen',
  '16': 'Beauty and the Beast',
  '17': 'Incredibles 2',
  '2': 'Star Wars: The Force Awakens',
  '3': 'Avengers: Infinity War',
  '4': 'Titanic',
  '5': 'Jurassic World',
  '6': 'The Lion King',
  '7': 'The Avengers',
  '8': 'Furious 7',
  '9': 'Avengers: Age of Ultron'}}

In [27]:
# type of data2
type(data2)

dict

In [28]:
len(data2)

6

####Working with APIs and JSON (PART 1)

In [59]:
import pandas as pd 
import requests 
pd.options.display.max_columns=30

In [60]:
api_key='api_key=841f019476e1274c79bf8e91823af39f'

In [61]:
movied_id=140

In [62]:
movie_api='https://api.themoviedb.org/3/movie/{}'
movie_api

'https://api.themoviedb.org/3/movie/{}'

In [63]:
url=movie_api.format(movied_id)+api_key 
url

'https://api.themoviedb.org/3/movie/140api_key=841f019476e1274c79bf8e91823af39f'

In [64]:
r=requests.get(url)
r

In [65]:
data=r.json()

In [66]:
data

{'status_code': 7,
 'status_message': 'Invalid API key: You must be granted a valid key.',
 'success': False}

######Importing and Saving the Movie DataSet (Real World Scenario)